


a:link, a:visited {
    background-color: #EAB9D2FF;
    color: white;
    border: 0;
    padding: 25px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: larger;
}


a:hover, a:active {
    background-color: #e8a1c4;
}

.name-brand{
    text-shadow: lightblue;
    color: white;

}

.container-fluid{
    background-color: rgba(183, 149, 224, 0.67);
    height: 100px;
}

.intro-text {
    position: relative;
    text-align: center;
    text-shadow: lightblue;
    color: white;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.main-page {
    background-image: url("https://mhernandez77.github.io/Portfolio/images/background.jpg"),
    radial-gradient(lightblue,lightpink);
    background-position: center;
    background-repeat: repeat-x;
    background-size: cover;
    position: relative;
    z-index: initial;
    height: 700px;
}


h1 {
    text-align: center;
}

* {
    box-sizing: border-box;
}

body {
    font-size: 1.50rem;
    font-family: sans-serif;
    line-height: 150%;
    text-shadow: 0 2px 2px #1e8db6;
}

section {
    color: #fff;
    text-align: center;
    width: 100%;
}

.article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 20px;
}

.container {
    display: table;
    width: 100%;
}

.left-half {
    position: absolute;
    left: 0px;
    width: 50%;
}

.right-half {
    position: absolute;
    right: 0px;
    width: 50%;
}

#portrait {
    display: block;
    position: center;
    margin-left: 10px;
    /*or auto???*/
    margin-right: -10px;
    width: 30%;
    height: 30%;
}

#about-me{
    display: table;
    background-image: radial-gradient(lightblue,lightpink);
    /*width:;*/
    max-width: initial;
    height: 1500px;
    background-position: center;
    background-repeat: repeat-x;
    background-size: cover;
    position: relative;
    z-index: initial;
    font-family: DengXian, Verdana, Helvetica;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    color: black;
    /*text-shadow: 0px 0px 10px #9F2DB0FF;*/
}

#about-me.container{
    width: 100%;
}

.aboutme-page{
    width: 10000px;
}

.bio-titles, .project-title{
    font-family: sans-serif;
    line-height: 150%;
    color: #b795e0;
    text-shadow: 0 2px 2px darkblue;
}
.bio-text{
    font-family: Arial;
    color: floralwhite;
    text-shadow: black;
}

.title{
    color: #fff;
    font-size: 1.50rem;
    font-family: sans-serif;
    line-height: 150%;
    text-shadow: 0 2px 2px #1e8db6;
}

.skills-title, .name, .school, .connect-title{
    color: hotpink;
}

.button{
    height: 30px;
    width: 100px;
    display: flex;
    text-align: center;
    color: whitesmoke;
    background-color: #e8a1c4;
}

#email-button{
    color: black;
    text-shadow: none;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: row;
    color: #ff0090;
    border: 1px;
    flex-flow: row wrap;
}

.card {
    background-image: radial-gradient(rgba(187, 165, 239, 0.55), rgba(217, 171, 171, 0.7));
    margin: 8px;
    display: inline-block;
    text-shadow: 0 2px 2px #A18088FF;
}



.btn-primary:hover {
    background-color: #e8a1c4;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}